<div class="bg-gray-700">
  <div class="p-4 fixed w-full top-0 z-50 md:hidden bg-gray-800">
    <div class="flex justify-between items-center">
      <h2 class="text-xl text-white font-semibold">Pomoku.pl</h2>
      <button (click)="sidebar.toggleMenu()" class="text-white">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
  <div class="flex h-screen overflow-hidden">
    <app-sidebar #sidebar></app-sidebar>
    <div class="flex-1 overflow-y-auto pt-16 md:pt-0">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
